@using Heima8.OA.Model
@model Heima8.OA.Model.ActionInfo

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetRole</title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        function afterSetRole(data) {
            if (data == "ok") {
                window.parent.window.afterSetRole();
            }
        }

        function submitForm() {
            $("form").submit();
        }
    </script>
</head>
<body>
    <div>
        <h2>当前给权限：  @Model.ActionName 设置角色</h2>
        <hr />
        @{
            //所有的角色
            List<RoleInfo> allRoles = ViewBag.AllRoles;
            //所有当前用户已经存在的角色
            List<int> existRoleIdList = ViewBag.ExitsRoles;
            
            using (Ajax.BeginForm("ProcessSetRole", "ActionInfo", new AjaxOptions() { OnSuccess = "afterSetRole" }))
            {

            <input type="hidden" name="UId" value="@Model.ID"/>
                
                int i = 0;
                foreach (var roleInfo in allRoles)
                {
                    string str = "ckb_" + roleInfo.ID;
                    if (i % 3 == 0 && i != 0)
                    {
                        <hr />
                    }
                    if (existRoleIdList.Contains(roleInfo.ID))
                    {
                        <input type="checkbox" checked="checked" value="@str" name="@str" id="@str"/>
                    }
                    else
                    {
                        <input type="checkbox"  value="@str" name="@str" id="@str"/>
                    }
                    
                    <label for="@str">@roleInfo.RoleName</label>

                    i++;

                }
            }
        }
    </div>
</body>
</html>
